{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_excimer/profile_page

    Markup for displaying a flame graph.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id - The id of the profile
    * request - The request url (with pathinfo and parameters)
    * sessionid - The session ID
    * userid - ID of the user who loaded the page
    * scripttype - The script type
    * created - Unix timestamp of profile creation
    * duration - Profile duration in seconds.
    * resposnecode - HTTP response code
    * cookies - Is cookies enabled?
    * buffering - Is buffering enabled?
    * fullname - Full nane of user represented by userid.
    * userlink - Link to user's profile page, or null if no user.

    Example context (json):
    {
        "id" : 3,
        "request" : "/my/index.php/another/deeper/path?time=day&duration=week",
        "sessionid" : "9842abcdef",
        "scripttype" : 2,
        "created" : 1638244603,
        "duration" : 0.153,
        "resposnecode" : 200,
        "cookies" : 1,
        "buffering" : 1,
        "fullname" : "Admin User",
        "userlink" : "https://some.domain://user/profile?id=1'
    }
}}

<h4>Profile Details</h4>
<p>{{{delete_button}}}</p>
<div id="profile-stats">
    <table class="flexible table table-striped table-sm table-hover generaltable generalbox w-auto">
        <tr>
            <th>{{#str}} field_request, tool_excimer {{/str}}</th>
            <td>{{{request}}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_sessionid, tool_excimer {{/str}}</th>
            <td>{{sessionid}}...</td>
        </tr>
        <tr>
            <th>{{#str}} field_reason, tool_excimer {{/str}}</th>
            <td>{{#reason_display}}{{reason}}{{/reason_display}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_scripttype, tool_excimer {{/str}}</th>
            <td>{{#script_type_display}}{{scripttype}}{{/script_type_display}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_created, tool_excimer {{/str}}</th>
            <td>{{#userdate}} {{created}}, {{#str}} strftimedaydatetime, langconfig {{/str}} {{/userdate}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_duration, tool_excimer {{/str}}</th>
            <td>{{{duration}}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_numsamples, tool_excimer {{/str}}</th>
            <td>{{numsamples}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_datasize, tool_excimer {{/str}}</th>
            <td>{{datasize}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_user, tool_excimer {{/str}}</th>
            <td>{{#userlink}}<a href="{{userlink}}">{{fullname}}</a>{{/userlink}}
                {{^userlink}}{{fullname}}{{/userlink}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_responsecode, tool_excimer {{/str}}</th>
            <td>{{{responsecode}}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_cookies, tool_excimer {{/str}}</th>
            <td>{{#cookies}} {{#str}} yes, core_customfield {{/str}} {{/cookies}}{{^cookies}}{{#str}} no, core_customfield {{/str}}{{/cookies}}</td>
        </tr>
        <tr>
            <th>{{#str}} field_buffering, tool_excimer {{/str}}</th>
            <td>{{#buffering}} {{#str}} yes, core_customfield {{/str}} {{/buffering}}{{^buffering}}{{#str}} no, core_customfield {{/str}}{{/buffering}}</td>
        </tr>
    </table>
</div>

<h4>Profile Flame Graph</h4>

<div id="details" style="min-height: 1.5rem; clear: both;">
</div>

<div id="loading">
    Loading...
</div>

<div id="chart" style="margin-top: 1rem;">
</div>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/d3-flame-graph@4.0.6/dist/d3-flamegraph.min.js"></script>
<script type="text/javascript">

init();
window.addEventListener('resize', _ => init());

document.getElementById("form").addEventListener("submit", function(event){
  event.preventDefault();
  search();
});

function init() {

    let chart = document.getElementById('chart');
    let details = document.getElementById("details");

    const chartWidth = Math.max(chart.offsetWidth - 15, 500);

    window.excimerChart = flamegraph();
    window.excimerChart.width(chartWidth).inverted(true);
    window.excimerChart.setDetailsElement(details);

    if (window.excimerData === undefined) {
        setLoading(true);
        d3.json('/admin/tool/excimer/flamegraph.json.php?profileid={{id}}', function(error, data) {
            setLoading(false);
            if (error) return console.warn(error);
            window.excimerData = data;
            draw();
        });
    } else {
        draw();
    }
}

function draw() {
    let svg = document.querySelector('#chart svg');
    if (svg !== null) {
        svg.remove();
    }
    //  Append SVG:
    d3.select("#chart").datum(window.excimerData).call(window.excimerChart);
}

function setLoading(yn) {
    document.getElementById('loading').style.display = yn ? 'block' : 'none';
}

function search() {
    if (window.excimerChart !== undefined) {
        let term = document.getElementById("term").value;
        window.excimerChart.search(term);
    }
}

function clear() {
    if (window.excimerChart !== undefined) {
        document.getElementById('term').value = '';
        window.excimerChart.clear();
    }
}

function resetZoom() {
    if (window.excimerChart !== undefined) {
        window.excimerChart.resetZoom();
    }
}
</script>
